/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ I AM gROOT                                                           │
  └──────────────────────────────────────────────────────────────────────┘
 */

:root {
/* 
  ┌──────────────────────────────────────────────────────────────────────────┐
  │  COLORS                                                                  │
  └──────────────────────────────────────────────────────────────────────────┘
 */

  --neon-pink: rgb(255, 10, 210);
  --neon-red: hsl(348, 100%, 51%);
  --neon-blue: hsl(175, 94%, 56%);
  --neon-green: chartreuse;
  --neon-orange: hsl(38.8,100%,50%);

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │  RESPONSIVE OUTLINE                                                  │
  └──────────────────────────────────────────────────────────────────────┘
 */
  
  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

::selection {
  color: black;
  background-color: silver;
}

::-moz-selection {
  color: black;
  background-color: silver;
}

@font-face {
    src: url(../fonts/GoshaSansRegular.woff2);
    font-family: "GoshaSansRegular";
}

@font-face {
    src: url(../fonts/pixeboy.woff2);
    font-family: "PixeBoy";
}

@keyframes game-float {
  from {
    opacity: 0.8;
  }
  25% {
    transform: scale(0.7);
    opacity: 0.55;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(0.7);
    opacity: 0.55;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes rgb-pulse {
  from {
    filter: drop-shadow(0px 0px 0.13em var(--neon-red));
  }
  20% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-green));
  }
  40% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-pink));
  }
  60% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-blue));
  }
  to {
    filter: drop-shadow(0px 0px 0.13em var(--neon-orange));
  }
}

@keyframes clr-select {
  from {
    transform: scale(0.8) rotate(0);
  }
  to {
    transform: scale(1) rotate(360deg);
  } 
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1800deg);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;
  font-family: 'PixeBoy', 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  min-height: 100vh;
  margin: 0;
}

.content-wrapper {
  padding-bottom: 5rem;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ FULL HEIGHT HERO                                                     │
  └──────────────────────────────────────────────────────────────────────┘
 */

#tcnyCommercial {
  position: fixed;
  right: 0;
  left: 0;
  right: 0;
  bottom: 0;

  object-fit: cover;
  opacity: 0.38;
  
  min-height: 100vh;
  min-height: -moz-available;  /* Mozilla-based browsers */
  min-height: -webkit-fill-available; /* WebKit-based browsers */
  min-height: fill-available;
  min-width: 100vw;
  z-index: -1;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ HEADER                                                               │
  └──────────────────────────────────────────────────────────────────────┘
 */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 13px;

  position: sticky;
  top: 0px;
  z-index: 2;
}

nav {
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.38s ease-out;

}

nav ul {
  display: flex;

  list-style: none;
  padding: 0;
  width: max-content;
}

#header-logo {
  animation: rgb-pulse 2.2s linear infinite alternate, game-float 5s linear infinite alternate;
  padding: 6px 12px;
  height: 8rem;

  position: relative;
  z-index: 2;
}

#header-logo:hover {
  animation: rgb-pulse 0.3s linear infinite alternate, hover 0s linear infinite alternate;
  opacity: 1;
  transform: scale(1.18);
}

/* #header-logo:active {
} */

#full-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 0.5s all ease-in;

  z-index: 2;
}

#menu-btn:hover {
  transform: scale(1.3);
}

#menu-btn-san {
  display: flex;
  justify-content: center;

  background: hsl(52, 100%, 95%);
  border-radius: 8px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 20px;

  transition: all .3s ease-in-out;
}

#menu-btn-san::before {
  content: '';

  background: hsl(52, 100%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 28px;

  position: absolute;

  transform: translateY(-8px);
}

#menu-btn-san::after {
  content: '';

  background: hsl(52, 100%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 33px;

  position: absolute;

  transform: translateY(8px);
}

/* MENU-BTN ANIMATION pressStart */
#menu-btn.open #menu-btn-san {
  background: transparent;
  box-shadow: none;
  transition: all 1.8s ease-out;
  transform: rotate(-360deg);
}

#menu-btn.open #menu-btn-san::before {
  background: black;
  opacity: 0.8;
  transform: rotate(405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

#menu-btn.open #menu-btn-san::after {
  background: black;
  opacity: 0.8;
  transform: rotate(-405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

#menu-btn.open~nav {
  margin-right: 655px;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

#menu-btn.open~nav a {
  font-size: 2rem;
  letter-spacing: 1.8px;
}
/* MENU-BTN ANIMATION gameOver */

#home-link {
  border: 0.1em solid var(--neon-red);
  box-shadow: inset 0 0 0.5em var(--neon-red), 0 0 0.5em var(--neon-red);
  color: var(--neon-red);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-red);
}

#home-link::before {
  background-color: var(--neon-red);
}

#home-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-red);
}

#home-link:hover,
#home-link:focus {
  background: var(--neon-red);
  color: var(--bg-clr);
}

#shop-link {
  border: 0.1em solid var(--neon-green);
  box-shadow: inset 0 0 0.5em var(--neon-green), 0 0 0.5em var(--neon-green);
  color: var(--neon-green);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-green);
}

#shop-link::before {
  background-color: var(--neon-green);
}

#shop-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-green);
}

#shop-link:hover,
#shop-link:focus {
  background: var(--neon-green);
  color: var(--bg-clr);
}

#encap-link {
  border: 0.1em solid var(--neon-pink);
  box-shadow: inset 0 0 0.5em var(--neon-pink), 0 0 0.5em var(--neon-pink);
  color: var(--neon-pink);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-pink);
}

#encap-link::before {
  background-color: var(--neon-pink);
}

#encap-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-pink);
}

#encap-link:hover,
#encap-link:focus {
  background: var(--neon-pink);
  color: var(--bg-clr);
}

#about-link {
  border: 0.1em solid var(--neon-blue);
  box-shadow: inset 0 0 0.5em var(--neon-blue), 0 0 0.5em var(--neon-blue);
  color: var(--neon-blue);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-blue);
}

#about-link::before {
  background-color: var(--neon-blue);
}

#about-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-blue);
}

#about-link:hover,
#about-link:focus {
  background: var(--neon-blue);
  color: var(--bg-clr);
}

#contact-link {
  border: 0.1em solid var(--neon-orange);
  box-shadow: inset 0 0 0.5em var(--neon-orange), 0 0 0.5em var(--neon-orange);
  color: var(--neon-orange);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-orange);
}

#contact-link::before {
  background-color: var(--neon-orange);
}

#contact-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-orange);
}

#contact-link:hover,
#contact-link:focus {
  background: var(--neon-orange);
  color: var(--bg-clr);
}

.nav-link {
  position: relative;

  border-radius: 0.3em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  margin: 0 18px 0 0;
}

.nav-link::before {
  content: '';

  position: absolute;
  top: 30px;
  right: 0;

  filter: blur(0.6em);
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  transform: perspective(0.2em) rotateX(10deg) scale(1, 0.8);
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  text-shadow: none;
}

.nav-link:focus {
  outline: none;
}

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 1;
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ MAIN                                                                    │
  └─────────────────────────────────────────────────────────────────────────┘
 */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > img {
  width: 70vw;
  filter: drop-shadow(0 0 10px #fffce8);
}

main > img:hover {
  animation: rgb-pulse 0.3s linear infinite alternate;
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |FOOTER|                                                                │
  └─────────────────────────────────────────────────────────────────────────┘
 */

footer {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content:flex-end;

  height: 98.195px;
  /* same height as header */
  
  transition: color 0.8s ease-in-out, background-color 0.5s ease-out;
}

footer:hover {
  color: var(--neon-red);
}

#footer-center {
  display: flex;
  flex-direction: column;
  gap: 3px;
  
  align-items: center;
  justify-content: center;
}

#footer-center:active  {
  margin-bottom: 25px;

  transform: rotate(180deg);
}

#footer-center > p {
  color: #fffce8;

  transition: all 300ms ease-out;
}

#footer-center > p:hover {
  color: var(--neon-green);

  transform: scale(1.3);
}

#footer-center > a {
  height: 0;
} 

footer a {
  color: #fffce8;
  font-weight: 800;
  font-size: 1.3rem;
  text-decoration: none;

  transform: scale(0);
  transition: all 1.8s ease-out;
}

footer a:hover {
  color: var(--neon-green);
  font-size: 1.8rem;
  opacity: 1;
  margin-bottom: 35px;
  text-shadow: 0px 0px 11px black;

  transform: scale(1.3);
}

footer p {
  font-size: 1.5rem;
  margin: 0;
}

footer p:hover ~ a {
  /* border: 2px solid red; */
  color: var(--neon-red);
  font-size: 1.5rem;
  opacity: 1;
  margin-bottom: 25px;
  padding: 0;
  text-shadow: 0px 0px 11px black;

  transform: scale(1);
  transition: all 5.5s ease-in;

}

#cyclone-container {
  display: flex;
  flex-direction: column;
  gap: 1px;

  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 0px 3px #fffce8);
  opacity: 0.38;
  padding-bottom: 5px;

  transition: all 0.8s ease-in;
}

#cyclone-container:hover {
  filter: drop-shadow(0 3px 10px #fffce8);
  opacity: 0.88;
  margin: 10px 0 15px 0;

  transform: scale(1.3) rotate(-1080deg);
}

#cyclone-container > p {
  color: var(--neon-red);
  text-shadow: 0 0 3px black;
  height: 0;
  opacity: 0;

} 

#cyclone-container:hover > p {
  color: var(--neon-green);
  opacity: 1;
  height: initial;
}

#cyclone-container > p {
  font-size: 1.3rem;

  transition: all 1.3s ease-in-out;
}

#cyclone-container > img {
  height: 22px;
}

#cyclone-container:hover > img {
  filter: drop-shadow(0 0px 5px #fffce8);
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ THEME SH*T TO F*CK WITH LATER                                                      │
  └─────────────────────────────────────────────────────────────────────────┘
 */

/* themeChange pressStart */
/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │oikakeTheme                                                           │
  └──────────────────────────────────────────────────────────────────────┘
 */
.nav-link.red {
  --border: 0.1em solid var(--neon-red);
  --box-shadow: inset 0 0 0.5em var(--neon-red), 0 0 0.5em var(--neon-red);
  --color: var(--neon-red);
  --text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-red)  
}
.nav-link.red::before {
  --background-color: var(--neon-red);
}
.nav-link.red::after {
  --box-shadow: 0 0 2em 0.2em var(--neon-red);
}
.nav-link.red:hover,
.nav-link.red:focus {
  --background: var(--neon-red);
  --color: var(--bg-clr);
}
/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │fankiiTheme                                                           │
  └──────────────────────────────────────────────────────────────────────┘
 */
.nav-link.green {
  --border: 0.1em solid var(--neon-green);
  --box-shadow: inset 0 0 0.5em var(--neon-green), 0 0 0.5em var(--neon-green);
  --color: var(--neon-green);
  --text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-green);
} 
.nav-link.green::before {
  --background-color: var(--neon-green);
}
.nav-link.green::after {
  --box-shadow: 0 0 2em 0.2em var(--neon-green);
}
.nav-link.green:hover,
.nav-link.green:focus {
  --background: var(--neon-green);
  --color: var(--bg-clr);
}
/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ machibuseTheme                                                       │
  └──────────────────────────────────────────────────────────────────────┘
 */
.nav-link.pink {
  --border: 0.1em solid var(--neon-pink);
  --box-shadow: inset 0 0 0.5em var(--neon-pink), 0 0 0.5em var(--neon-pink);
  --color: var(--neon-pink);
  --text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-pink);
} 
.nav-link.pink::before {
  --background-color: var(--neon-pink);
}
.nav-link.pink::after {
  --box-shadow: 0 0 2em 0.2em var(--neon-pink);
}
.nav-link.pink:hover,
.nav-link.pink:focus {
  --background: var(--neon-pink);
  --color: var(--bg-clr);
}
/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ kimagureTheme                                                        │
  └──────────────────────────────────────────────────────────────────────┘
 */
.nav-link.blue {
  --border: 0.1em solid var(--neon-blue);
  --box-shadow: inset 0 0 0.5em var(--neon-blue), 0 0 0.5em var(--neon-blue);
  --color: var(--neon-blue);
  --text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-blue);
} 
.nav-link.blue::before {
  --background-color: var(--neon-blue);
}
.nav-link.blue::after {
  --box-shadow: 0 0 2em 0.2em var(--neon-blue);
}
.nav-link.blue:hover,
.nav-link.blue:focus {
  --background: var(--neon-blue);
  --color: var(--bg-clr);
}
/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ otobokeTheme                                                         │
  └──────────────────────────────────────────────────────────────────────┘
 */
.nav-link.orange {
  --border: 0.1em solid var(--neon-orange);
  --box-shadow: inset 0 0 0.5em var(--neon-orange), 0 0 0.5em var(--neon-orange);
  --color: var(--neon-orange);
  --text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-orange);
} 
.nav-link.orange::before {
  --background-color: var(--neon-orange);
}
.nav-link.orange::after {
  --box-shadow: 0 0 2em 0.2em var(--neon-orange);
}
.nav-link.orange:hover,
.nav-link.orange:focus {
  --background: var(--neon-orange);
  --color: var(--bg-clr);
}
/* themeChange gameOver */

#theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  overflow: hidden;
  pointer-events: none;

  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 1.8s all ease-in;
}

#theme-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 0.5s all ease-in;

  filter: drop-shadow(0 0 5px #fffce8);

  transition: all .3s ease-in-out;
}

#theme-toggle-btn > img {
  height: 25px;
  animation: clr-select 0.8s linear infinite alternate, rotate 0.6s linear infinite alternate;

}

#btn-theme-list {
  display: flex;
  transform: rotate(90deg);

  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  margin-top: -1000px;
  
  pointer-events: none;
  transition: all 1.8s ease-out;
}

#btn-theme-red {
  content: '';

  position: absolute;

  top: 0;
  right: 0;
  bottom:0;
  left:0; 

  border: 5px dashed var(--neon-red);
  animation: clr-select 0.8s linear infinite alternate;
  box-shadow: 0 0 10px var(--neon-red);

  border-radius: 50%;

  height: 20px;
  width: 20px;

  /* transform: scale(1.5); */
}

#btn-theme-green {
  content: '';

  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0px;
  left: 45px; 

  border: 5px dashed var(--neon-green);
  animation: clr-select 0.8s linear infinite alternate;

  border-radius: 50%;
  box-shadow: 0 0 10px var(--neon-green);


  height: 20px;
  width: 20px;
}

#btn-theme-pink {
  content: '';

  position: absolute;
  
  top: 0;
  right: 0;
  bottom:0;
  left: 90px; 

  animation: clr-select 0.8s linear infinite alternate;
  border: 5px dashed var(--neon-pink);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--neon-pink);


  height: 20px;
  width: 20px;

}

#btn-theme-blue {
  content: '';

  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 135px; 

  border: 5px dashed var(--neon-blue);
  box-shadow: 0 0 10px var(--neon-green);

  animation: clr-select 0.8s linear infinite alternate;
  border-radius: 50%;

  height: 20px;
  width: 20px;
}

#btn-theme-orange {
  content: '';

  position: absolute;
  
  top: 0;
  right: 0;
  bottom:0;
  left: 180px; 

  animation: clr-select 0.8s linear infinite alternate;
  border: 5px dashed var(--neon-orange);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--neon-orange);
  border-radius: 50%;

  height: 20px;
  width: 20px;
} 

#theme-toggle-btn.open ~ #btn-theme-list {
  position: absolute;
  right: 18px;

  opacity: 1;
  overflow: visible;
  pointer-events: auto;
  
  margin: 80px 0 0 0;
  
  transform: rotate(90deg);
}

#theme-toggle-btn.open ~ #btn-theme-list > li {
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 0 0 10px;
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ laptopBreakpoint                                                        │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
  }
  
  #menu-btn.open~nav {
    margin-right: 622px;
  }
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ tabletBreakpoint                                                        │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@media only screen and (max-width: 768px) {

  @keyframes game-float {
    from {
      opacity: 0.8;
    }

    25% {
      opacity: 0.55;
      transform: scale(0.9);
    }

    50% {
      opacity: 1;
      transform: scale(1);
    }

    75% {
      opacity: 0.55;
      transform: scale(0.9);
    }

    to {
      opacity: 0.8;
    }
  }

  header {
    z-index: 2;
  }

  #header-logo {
    height: 7rem;
    
    animation: rgb-pulse 2.2s linear infinite alternate, game-float 5s linear infinite alternate;
  } 

  nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  #menu-btn.open ~ nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: rgba(49, 32, 43, 0.888);
    min-height: 100vh;
    min-width: 100vw;

    opacity: 1;
    overflow: visible;   
    
    transition: none;
  }

  #menu-btn.open ~ nav ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 55px;
    
    /* background: linear-gradient(to bottom, black, var(--neon-red)); */
    background: url('../imgs/logos/c.gif'), linear-gradient(to bottom, black, var(--neon-red));
    background-position: center;
    
    border: 2px solid var(--neon-red);
    border-radius: 50%;
    box-shadow: 0 0 55px var(--neon-red), inset 0 0 55px var(--neon-pink);
    height: 475px;
    width: 475px;
    
    transform: rotate(-360deg) scale(1);
    transition: transform 1.5s ease-in-out;


    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }
  
  #menu-btn.open ~ nav ul > li:nth-of-type(even) {
    transform: rotate(365deg) scale(1.5);
    transition: all 1.8s ease-in-out;
  }
  
  #menu-btn.open ~ nav ul > li:nth-of-type(odd) {
    transform: rotate(-365deg) scale(1.5);
    transition: all 1.8s ease-in-out;
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(even):hover {
    transform: rotate(360deg) scale(2.2);
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(odd):hover {
    transform: rotate(-360deg) scale(2.2);
  }

  .nav-link {
    margin: 0;
  }
  
  .item-container:nth-of-type(odd), 
  .item-container:nth-of-type(even) {
    flex-direction: column;
  }

  .item-container:nth-of-type(odd):hover,
  .item-container:nth-of-type(even):hover {
    margin-right: 0;
    margin-bottom: 375px;
  }

  .item-container:hover:nth-of-type(odd) > .item > img,
  .item-container:hover:nth-of-type(even) > .item > img {
    transform: rotate(0) scale(1); 
  }

  .item-container:hover > .item-header > .item_description {
    top: 450px;
  }

  .item_description {
    transform: scale(0.05);
  }

  .item {
    display: flex;
    align-items: center;

    height: max-content;
    width: max-content;

    transition: all 0.8s ease-out;
  }

  /* #scent_box {
    transform: scale(0.73) rotate(-18deg);
    top: 18px;
    left: -110px;
  }

  #scent_box:hover {
    top: 58px;
    left: 31.5px;
    transform: rotate(0) scale(1.2);
  }   */

  /* #scent_box:hover ~ #rocket_smoke::before {
  
  } */
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ mobileBreakpoint                                                        │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@media only screen and (max-width: 480px) {

  @keyframes game-float {
    from {
      opacity: 0.8;
    }

    25% {
      opacity: 0.55;
      transform: scale(0.55);
    }

    50% {
      opacity: 1;
      transform: scale(0.8);
    }

    75% {
      opacity: 0.55;
      transform: scale(0.55);
    }

    to {
      opacity: 0.8;
    }
  }

  #menu-btn.open ~ nav ul {
    height: 288px;
    width: 288px;
  }

  header {
    justify-content: center;
  }

  #menu-btn.open ~ nav ul {
    gap: 28px;
    
    background-size: 300px 300px;
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(even) {
    transform: rotate(365deg) scale(1.15);
    transition: all 1.8s ease-in-out;
  }
  
  #menu-btn.open ~ nav ul > li:nth-of-type(odd) {
    transform: rotate(-365deg) scale(1.15);
    transition: all 1.8s ease-in-out;
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(even):hover {
    transform: rotate(360deg) scale(1.3);
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(odd):hover {
    transform: rotate(-360deg) scale(1.3);
  }
}