/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ NormCSS                                                              │
  └──────────────────────────────────────────────────────────────────────┘
 */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ I AM gROOT                                                           │
  └──────────────────────────────────────────────────────────────────────┘
 */

:root {

  /* 
  ┌──────────────────────────────────────────────────────────────────────────┐
  │  COLORS                                                                  │
  └──────────────────────────────────────────────────────────────────────────┘
 */

  --neon-pink: rgb(255, 10, 210);
  --neon-red: hsl(348, 100%, 51%);
  --neon-blue: hsl(175, 94%, 56%);
  --neon-green: chartreuse;
  --neon-orange: hsl(38.8, 100%, 50%);

  /* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │  RESPONSIVE OUTLINE                                                  │
  └──────────────────────────────────────────────────────────────────────┘
 */

  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

@font-face {
  src: url(../fonts/GoshaSansRegular.woff2);
  font-family: "GoshaSansRegular";
}

@font-face {
  src: url(../fonts/pixeboy.woff2);
  font-family: "PixeBoy";
}

@keyframes game-float {
  from {
    opacity: 0.8;
  }

  25% {
    transform: scale(0.7);
    opacity: 0.55;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(0.7);
    opacity: 0.55;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes rgb-pulse {
  from {
    filter: drop-shadow(0px 0px 0.13em var(--neon-red));
  }

  20% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-green));
  }

  40% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-pink));
  }

  60% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-blue));
  }

  to {
    filter: drop-shadow(0px 0px 0.13em var(--neon-orange));
  }
}

@keyframes rgb-pulse-item {
  from {
    filter: drop-shadow(0px 0px 5px var(--neon-red));
  }

  20% {
    filter: drop-shadow(0px 0px 8px var(--neon-green));
  }

  40% {
    filter: drop-shadow(0px 0px 5px var(--neon-pink));
  }

  60% {
    filter: drop-shadow(0px 0px 8px var(--neon-blue));
  }

  to {
    filter: drop-shadow(0px 0px 5px var(--neon-orange));
  }
}

@keyframes bg-float {
  from {
    transform: scale(1);
    opacity: 0.33;
  }
  70% {
    transform: scale(1.03);
    opacity: 0.55;
  }
  to {
    transform: scale(1.03);
    opacity: 1;
  } 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;
  font-family: 'PixeBoy', 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  margin: 0;
  min-height: 100vh;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ theWonderKid                                                         │
  └──────────────────────────────────────────────────────────────────────┘
 */

#bg_wrapper {
  position: relative;
}

#bg_wrapper::before {
  content: ' ';

  position: absolute;
  left: 0;
  top: 0;
  
  display: block;
  width: 100%;
  height: 100%;
  /* opacity: 0.3; */
  
  background-image: url('../imgs/logos/theWonderKid.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  animation: bg-float 7s linear infinite alternate;
  transform-origin: bottom;
}

#page_content {
  position: relative;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ HEADER                                                               │
  └──────────────────────────────────────────────────────────────────────┘
 */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 13px;

  position: sticky;
  top: 0px
}

nav {
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 1.8s ease-out;
}

ul {
  display: flex;

  list-style: none;
  padding: 0;
  width: max-content;
}

a {
  padding: 6px 12px;
  text-decoration: none;
}

#header-logo {
  animation: rgb-pulse 2.2s linear infinite alternate, game-float 5s linear infinite alternate;
  height: 8rem;
}

#header-logo:hover {
  animation: rgb-pulse 0.3s linear infinite alternate, hover 0s linear infinite alternate;
  opacity: 1;
  transform: scale(1.18);
}

/* #header-logo:active {
} */

#full-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* gap: 333px; */
}

#menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 0.5s all ease-in;
}

#menu-btn:hover {
  transform: scale(1.3);
}

#menu-btn-san {
  display: flex;
  justify-content: center;

  background: hsl(52, 100%, 95%);
  border-radius: 8px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 20px;

  transition: all .3s ease-in-out;
}

#menu-btn-san::before {
  content: '';

  background: hsl(52, 100%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 28px;

  position: absolute;

  transform: translateY(-8px);
}

#menu-btn-san::after {
  content: '';

  background: hsl(52, 100%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 33px;

  position: absolute;

  transform: translateY(8px);
}

/* MENU-BTN ANIMATION pressStart */
#menu-btn.open #menu-btn-san {
  background: transparent;
  box-shadow: none;
  transition: all 1.8s ease-out;
  transform: rotate(-360deg);

}

#menu-btn.open #menu-btn-san::before {
  background: black;
  opacity: 0.8;
  transform: rotate(405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

#menu-btn.open #menu-btn-san::after {
  background: black;
  opacity: 0.8;
  transform: rotate(-405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

#menu-btn.open~nav {
  margin-right: 655px;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

#menu-btn.open~nav a {
  font-size: 2rem;
  letter-spacing: 1px;
}
/* MENU-BTN ANIMATION gameOver */

#home-link {
  border: 0.1em solid var(--neon-red);
  box-shadow: inset 0 0 0.5em var(--neon-red), 0 0 0.5em var(--neon-red);
  color: var(--neon-red);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-red);
}

#home-link::before {
  background-color: var(--neon-red);
}

#home-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-red);
}

#home-link:hover,
#home-link:focus {
  background: var(--neon-red);
  color: var(--bg-clr);
}

#shop-link {
  border: 0.1em solid var(--neon-green);
  box-shadow: inset 0 0 0.5em var(--neon-green), 0 0 0.5em var(--neon-green);
  color: var(--neon-green);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-green);
}

#shop-link::before {
  background-color: var(--neon-green);
}

#shop-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-green);
}

#shop-link:hover,
#shop-link:focus {
  background: var(--neon-green);
  color: var(--bg-clr);
}

#encap-link {
  border: 0.1em solid var(--neon-pink);
  box-shadow: inset 0 0 0.5em var(--neon-pink), 0 0 0.5em var(--neon-pink);
  color: var(--neon-pink);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-pink);
}

#encap-link::before {
  background-color: var(--neon-pink);
}

#encap-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-pink);
}

#encap-link:hover,
#encap-link:focus {
  background: var(--neon-pink);
  color: var(--bg-clr);
}

#about-link {
  border: 0.1em solid var(--neon-blue);
  box-shadow: inset 0 0 0.5em var(--neon-blue), 0 0 0.5em var(--neon-blue);
  color: var(--neon-blue);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-blue);
}

#about-link::before {
  background-color: var(--neon-blue);
}

#about-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-blue);
}

#about-link:hover,
#about-link:focus {
  background: var(--neon-blue);
  color: var(--bg-clr);
}

#contact-link {
  border: 0.1em solid var(--neon-orange);
  box-shadow: inset 0 0 0.5em var(--neon-orange), 0 0 0.5em var(--neon-orange);
  color: var(--neon-orange);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-orange);
}

#contact-link::before {
  background-color: var(--neon-orange);
}

#contact-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-orange);
}

#contact-link:hover,
#contact-link:focus {
  background: var(--neon-orange);
  color: var(--bg-clr);
}

.nav-link {
  position: relative;

  font-size: 1.8rem;

  border-radius: 0.3em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  letter-spacing: -0.05em;
  margin: 0 28px 0 0;
}

.nav-link::before {
  content: '';

  position: absolute;
  top: 3rem;
  right: 0;

  filter: blur(0.6em);
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  transform: perspective(0.2em) rotateX(10deg) scale(1, 0.8);
  width: 100%;
}

.nav-link::after {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;

  transition: background-color 333ms linear;
}

.nav-link:hover,
.nav-link:focus {
  text-shadow: none;
}

.nav-link:focus {
  outline: none;
}

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 1;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ SHOP                                                    │
  └──────────────────────────────────────────────────────────────────────┘
 */

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  
  margin-top: 3vh;
}

.collection {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;

  width: 88vw;

  /* border: 5px solid green; */
}

.item-container {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  
  width: 88vw;
  
  /* border: 3px solid green; */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;


  height: 300px;
  width: 300px;
  
  /* border: 3px solid red; */
}

.item > img {
  animation: rgb-pulse-item 2.2s linear infinite alternate;
  transition: 0.3s ease-out;
}

.item:hover > img {
  transform: scale(1.3);
}

.item-description {
  display: flex;
  flex-direction: column;
  
  align-items: center;

  color: var(--neon-green);

  /* border: 3px solid purple; */
}

.item-description > h1 {
  font-size: 2rem;
  margin: 0;
}

.item-description > p {
  font-size: 1.3rem;
  margin: 0;
} 

.hoodie {
  width: max(17vw, 250px);
}

.beanie {
  width: max(12vw, 200px);
}

.socks {
  width: max(8vw, 150px);
}

.keychain {
  width: max(5.5vw, 80px);
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |FOOTER|                                                                │
  └─────────────────────────────────────────────────────────────────────────┘
 */

footer {
  position: sticky;
  bottom: 0;
  left: auto;
  right: auto;
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content:flex-end;

  height: 98.195px;
}

footer:hover {
  color: var(--neon-red);
}

#footer-center {
  display: flex;
  flex-direction: column;
  gap: 3px;
  
  align-items: center;
  justify-content: center;
}

#footer-center:active  {
  margin-bottom: 25px;

  transform: rotate(180deg);
}

#footer-center > p {
  color: #fffce8;
  transition: all 0.3s ease-in;

}

#footer-center > p:hover {
  color: var(--neon-green);
  /* margin-bottom: 15px; */

  transform: scale(1.1);
}

footer p {
  font-size: 1.5rem;
  margin: 0 0 2px 0;
}

#cyclone-container {
  display: flex;
  flex-direction: column;
  gap: 1px;

  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 0px 3px #fffce8);
  opacity: 0.38;
  padding-bottom: 5px;

  transition: all 0.8s ease-in;
}

#cyclone-container:hover {
  filter: drop-shadow(0 3px 10px #fffce8);
  opacity: 0.88;
  margin: 15px 0 15px 0;

  transform: scale(1.3) rotate(-1080deg);
}

#cyclone-container > p {
  color: var(--neon-red);
  text-shadow: 0 0 3px black;
  height: 0;
  opacity: 0;

} 

#cyclone-container:hover > p {
  color: var(--neon-green);
  opacity: 1;
  height: initial;
}

#cyclone-container > p {
  font-size: 1.3rem;

  transition: all 1.3s ease-in-out;
}

#cyclone-container > img {
  height: 22px;
}

#cyclone-container:hover > img {
  filter: drop-shadow(0 0px 5px #fffce8);
}