/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ DEBUG                                                                   │
  └─────────────────────────────────────────────────────────────────────────┘
 */
/* 
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ I AM gROOT                                                           │
  └──────────────────────────────────────────────────────────────────────┘
 */

:root {

  /* 
  ┌──────────────────────────────────────────────────────────────────────────┐
  │  COLORS                                                                  │
  └──────────────────────────────────────────────────────────────────────────┘
 */

  --neon-pink: rgb(255, 10, 210);
  --neon-red: hsl(348, 100%, 51%);
  --neon-blue: hsl(175, 94%, 56%);
  --neon-green: chartreuse;
  --neon-orange: hsl(38.8, 100%, 50%);

  /* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │  RESPONSIVE OUTLINE                                                  │
  └──────────────────────────────────────────────────────────────────────┘
 */

  --outline-size: max(2px, 0.08em);
  --outline-style: solid;
  --outline-color: currentColor;
}

@font-face {
  src: url(../fonts/GoshaSansRegular.woff2);
  font-family: "GoshaSansRegular";
}

@font-face {
  src: url(../fonts/GoshaSansBold.woff2);
  font-family: "GoshaSansBold";
}

@font-face {
  src: url(../fonts/pixeboy.woff2);
  font-family: "PixeBoy";
}

@keyframes bg-float {
  from {
    transform: scale(1);
    opacity: 0.33;
  }
  70% {
    transform: scale(1.03);
    opacity: 0.55;
  }
  to {
    transform: scale(1.03);
    opacity: 1;
  } 
}

@keyframes game-float {
  from {
    opacity: 0.8;
  }

  25% {
    transform: scale(0.7);
    opacity: 0.55;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(0.7);
    opacity: 0.55;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes gray2green {
  from {
    color: rgb(255, 255, 255);
  }
  80% {
    color: rgb(188, 189, 190)
  }
  to {
    color: var(--neon-green)
  }
}

@keyframes warning-card {
  from {
    border: 2.1px solid yellow;
    box-shadow: 0 0 13px yellow;

    
  }
  70% {
    border: 2.1px solid rgb(188, 189, 190);
    box-shadow: 0 0 8px rgb(188, 189, 190);


  }
  to {
    border: 2.1px solid yellow;
    box-shadow: 0 0 18px yellow;

  }
}

@keyframes rgb-pulse {
  from {
    filter: drop-shadow(0px 0px 0.13em var(--neon-red));
  }

  20% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-green));
  }

  40% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-pink));
  }

  60% {
    filter: drop-shadow(0px 0px 0.13em var(--neon-blue));
  }

  to {
    filter: drop-shadow(0px 0px 0.13em var(--neon-orange));
  }
}

@keyframes rgb-pulse-item {
  from {
    filter: drop-shadow(0px 0px 5px var(--neon-red));
  }

  20% {
    filter: drop-shadow(0px 0px 8px var(--neon-green));
  }

  40% {
    filter: drop-shadow(0px 0px 5px var(--neon-pink));
  }

  60% {
    filter: drop-shadow(0px 0px 8px var(--neon-blue));
  }

  to {
    filter: drop-shadow(0px 0px 5px var(--neon-orange));
  }
}

@keyframes warning {
  from {
    filter: drop-shadow(5px 5px 55px yellow);
  }
  50% {
    filter: drop-shadow(5px 5px 33px black);
  }
  to {
    filter: drop-shadow(5px 5px 77px yellow);
  }
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;
  font-family: 'PixeBoy', 'GoshaSansRegular', 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 1.8rem;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ theWonderKid                                                         │
  └──────────────────────────────────────────────────────────────────────┘
 */

#bg_wrapper {
  position: relative;  
}

#bg_wrapper::before {
  content: ' ';

  position: absolute;
  left: 0;
  top: 0;
  
  display: block;
  min-width: 100%;
  min-height: 100%;
  
  background-image: url('../imgs/logos/theWonderKid.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation: bg-float 7s linear infinite alternate;
  transform-origin: bottom;
}

#page_content {
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ HEADER                                                               │
  └──────────────────────────────────────────────────────────────────────┘
 */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 13px;

  position: sticky;
  top: 0px;
  z-index: 2;
}

nav {
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.38s ease-out;

}

nav ul {
  display: flex;

  list-style: none;
  padding: 0;
  width: max-content;
}

#header-logo {
  animation: rgb-pulse 2.2s linear infinite alternate, game-float 5s linear infinite alternate;
  padding: 6px 12px;
  height: 8rem;

  position: relative;
  z-index: 2;
}

#header-logo:hover {
  animation: rgb-pulse 0.3s linear infinite alternate, hover 0s linear infinite alternate;
  opacity: 1;
  transform: scale(1.18);
}

/* #header-logo:active {
} */

#full-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 55px;
  padding: 5px;
  width: 55px;
  transition: 0.5s all ease-in;

  z-index: 2;
}

#menu-btn:hover {
  transform: scale(1.3);
}

#menu-btn-san {
  display: flex;
  justify-content: center;

  background: hsl(52, 100%, 95%);
  border-radius: 8px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 20px;

  transition: all .3s ease-in-out;
}

#menu-btn-san::before {
  content: '';

  background: hsl(52, 100%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 28px;

  position: absolute;

  transform: translateY(-8px);
}

#menu-btn-san::after {
  content: '';

  background: hsl(52, 100%, 95%);
  border-radius: 3px;
  box-shadow: 0 0 8px 2px #fffce8;
  height: 3px;
  width: 33px;

  position: absolute;

  transform: translateY(8px);
}

/* MENU-BTN ANIMATION pressStart */
#menu-btn.open #menu-btn-san {
  background: transparent;
  box-shadow: none;
  transition: all 1.8s ease-out;
  transform: rotate(-360deg);
}

#menu-btn.open #menu-btn-san::before {
  background: black;
  opacity: 0.8;
  transform: rotate(405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

#menu-btn.open #menu-btn-san::after {
  background: black;
  opacity: 0.8;
  transform: rotate(-405deg);
  transition: all 1.8s ease-out;
  width: 33px;
}

#menu-btn.open~nav {
  margin-right: 655px;
  opacity: 1;
  overflow: visible;
  pointer-events: auto;
}

#menu-btn.open~nav a {
  font-size: 2rem;
  letter-spacing: 1px;
}
/* MENU-BTN ANIMATION gameOver */

#home-link {
  border: 0.1em solid var(--neon-red);
  box-shadow: inset 0 0 0.5em var(--neon-red), 0 0 0.5em var(--neon-red);
  color: var(--neon-red);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-red);
}

#home-link::before {
  background-color: var(--neon-red);
}

#home-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-red);
}

#home-link:hover,
#home-link:focus {
  background: var(--neon-red);
  color: var(--bg-clr);
}

#shop-link {
  border: 0.1em solid var(--neon-green);
  box-shadow: inset 0 0 0.5em var(--neon-green), 0 0 0.5em var(--neon-green);
  color: var(--neon-green);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-green);
}

#shop-link::before {
  background-color: var(--neon-green);
}

#shop-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-green);
}

#shop-link:hover,
#shop-link:focus {
  background: var(--neon-green);
  color: var(--bg-clr);
}

#encap-link {
  border: 0.1em solid var(--neon-pink);
  box-shadow: inset 0 0 0.5em var(--neon-pink), 0 0 0.5em var(--neon-pink);
  color: var(--neon-pink);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-pink);
}

#encap-link::before {
  background-color: var(--neon-pink);
}

#encap-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-pink);
}

#encap-link:hover,
#encap-link:focus {
  background: var(--neon-pink);
  color: var(--bg-clr);
}

#about-link {
  border: 0.1em solid var(--neon-blue);
  box-shadow: inset 0 0 0.5em var(--neon-blue), 0 0 0.5em var(--neon-blue);
  color: var(--neon-blue);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-blue);
}

#about-link::before {
  background-color: var(--neon-blue);
}

#about-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-blue);
}

#about-link:hover,
#about-link:focus {
  background: var(--neon-blue);
  color: var(--bg-clr);
}

#contact-link {
  border: 0.1em solid var(--neon-orange);
  box-shadow: inset 0 0 0.5em var(--neon-orange), 0 0 0.5em var(--neon-orange);
  color: var(--neon-orange);
  text-shadow: 0 0 0.08em hsl(0 0% 100% / 0.5), 0 0 1em var(--neon-orange);
}

#contact-link::before {
  background-color: var(--neon-orange);
}

#contact-link::after {
  box-shadow: 0 0 2em 0.2em var(--neon-orange);
}

#contact-link:hover,
#contact-link:focus {
  background: var(--neon-orange);
  color: var(--bg-clr);
}

.nav-link {
  position: relative;

  font-size: 1.8rem;

  border-radius: 0.3em;
  padding: 0.3em 0.8em;
  text-decoration: none;
  letter-spacing: -0.05em;
  margin: 0 28px 0 0;
}

.nav-link::before {
  content: '';

  position: absolute;
  top: 30px;
  right: 0;

  filter: blur(0.6em);
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
  transform: perspective(0.2em) rotateX(10deg) scale(1, 0.8);
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  text-shadow: none;
}

.nav-link:focus {
  outline: none;
}

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 1;
}

/* 
  ┌──────────────────────────────────────────────────────────────────────┐
  │ SHOP                                                                 │
  └──────────────────────────────────────────────────────────────────────┘
 */

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  
  margin-top: 3vh;
}

.collection {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;

  width: 88vw;

  /* border: 5px solid green; */
}

.item-container {
  display: flex;
  gap: 33px;

  align-items: center;
  justify-content: center;
  
  width: 33vw;
  height: 333px;
  margin-bottom: 8vh;
  
  transition: all 0.38s ease-out;
  
  /* border: 1px solid red; */
}

.item-container:hover {
  height: 388px;
  margin-bottom: 18vh;

  width: 77vw;
}

.item-container:nth-of-type(odd) {
  flex-direction: row-reverse;

  margin-right: 25vw;
}

.item-container:nth-of-type(odd):hover {
  margin-right: 17.5vw
}

.item-container:nth-of-type(even) {
  flex-direction: row;  

  margin-right: -25vw;
}

.item-container:nth-of-type(even):hover {
  margin-right: -17.5vw;
}

.item-container:nth-of-type(odd):hover > .item-description > .item-description-card {
  position: absolute;
  right: auto;

  height: 275px;
  width: 300px;
  
  opacity: 1;
  transform: scale(1) rotate(-720deg);
}

.item-container:nth-of-type(even):hover > .item-description > .item-description-card {
  position: absolute;
  right: auto;

  height: 275px;
  width: 300px;
  
  opacity: 1;
  transform: scale(1) rotate(720deg);
}

/* beanieCardTopPositioning pressStart */
.item-container:nth-of-type(1):hover > .item-description > .item-description-card,
.item-container:nth-of-type(2):hover > .item-description > .item-description-card,
.item-container:nth-of-type(3):hover > .item-description > .item-description-card {
  top: 70px;
}
/* beanieCardTopPositioning gameOver */

/* hoodieCardTopPositioning pressStart */
.item-container:nth-of-type(4):hover > .item-description > .item-description-card,
.item-container:nth-of-type(5):hover > .item-description > .item-description-card {
  top: 100px;
}
/* hoodieCardTopPositioning gameOver */

/* socksCardTopPositioning pressStart */
.item-container:nth-of-type(6):hover > .item-description > .item-description-card,
.item-container:nth-of-type(7):hover > .item-description > .item-description-card,
.item-container:nth-of-type(8):hover > .item-description > .item-description-card {
  top: 100px;
}
/* socksCardTopPositioning gameOver */

/* keychainCardTopPositioning pressStart */
.item-container:nth-of-type(9):hover > .item-description > .item-description-card {
  top: 67px;
}
/* keychainCardTopPositioning gameOver */

/* shovelCardTopPositioning pressStart */
/* .item-container:nth-of-type(10):hover > .item-description > .item-description-card {
  top: ?;
} */
/* shovelCardTopPositioning gameOver */

.item-container:hover:nth-of-type(even) > .item > img {
  transform: rotate(13deg) scale(1.15); 
}

.item-container:hover:nth-of-type(odd) > .item > img {
  transform: rotate(-13deg) scale(1.15); 
}

/* .item-container:nth-of-type(even) > .item-description {
  transform: rotate(-18deg);
}

.item-container:nth-of-type(odd) > .item-description {
  transform: rotate(18deg);
} */

/* shovelCardTopPositioning gameOver */

.item {
  display: flex;
  align-items: center;

  height: 300px;
  width: 300px;

  transition: all 0.8s ease-out;
}

.item:nth-of-type(even) {
  justify-content: center;
}

.item:nth-of-type(odd) {
  justify-content: center;
}

.item > img {
  animation: rgb-pulse-item 2.2s linear infinite alternate;
  transition: 0.3s ease-out;
}

.item-description {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-height: 67px;
  text-align: center;

  /* transition: all 0.8s ease-out; */

  animation: item-des-bg 1.3s linear infinite alternate;
}

.item-description > h1 {
  color: rgb(188, 189, 190) ;
  font-size: 3rem;
  margin: 0;
  min-width: max-content;
  text-shadow: 0 0 0.5em rgb(255, 255, 255);

  filter: drop-shadow(0 0 33px black);
  animation: gray2green 0.8s linear infinite alternate
}

.item-description > p {
  font-family: 'GoshaSansBold';
  font-size: 2.2rem;
  padding: 0;
  margin: 0;
  
  height: 70px;
  width: 200px;
  
  filter: drop-shadow(0 0 33px black);
  
  transform-origin: center;
  transition: all 0.8s ease-out;
}

.item-description > p:hover {
  transform: scale(1.3);
}

.curomame_p::before {
  content: 'CUROMAME';
  color: black;
  text-shadow: 0 0 0.4em #fffce8;  
}

.curomame_p:hover::before {
  content: '黒豆';
  color: var(--neon-red);
  text-shadow: 0 0 0.3em black;
  vertical-align:top;
}

.nimbus_p::before {
  content: 'NIMBUS';
  color: #fffce8;
  text-shadow: 0 0 0.5em black;
}

.nimbus_p:hover::before {
  content: '筋斗雲';
  color: var(--neon-orange);
  text-shadow: 0 0 0.5em var(--neon-orange);
  vertical-align:top;
}

.sora_p::before {
  content: 'SORA';
  color: #88a7db;
  text-shadow: 0 0 0.5em black;
}

.sora_p:hover::before {
  content: '空';
  color: var(--neon-pink);
  text-shadow: 0 0 0.5em var(--neon-pink);
  vertical-align:top;

}

.hoodie {
  width: max(17vw, 250px);
}

.beanie {
  width: max(12vw, 200px);
}

.socks {
  width: max(8vw, 150px);
}

.keychain {
  width: max(5.5vw, 80px);
}

.item-description-card {
  position: absolute;
  top: -100px;
  right: auto;
  
  background: rgba(0, 0, 0, 0.535);
  filter: drop-shadow(0 22px 55px black);
  border-radius: 55px;
  height: 300px;
  width: 300px;
  
  opacity: 0;
  transform: scale(0) rotate(18deg);
  transition: all 0.8s ease-in-out;
  transform-origin: center;

  animation: warning-card 0.8s linear infinite alternate;
}

.item-container:hover .item-description-card::before {
  content: '';
  
  position: absolute;
  top: 0; 
  right: 0;

  height: 100%;
  width:  100%;
  
  border-radius: 50px;
  background: url('../imgs/misc/cloudy.gif');
  opacity: 0.38;

  z-index: -1;
}

.item-container:nth-of-type(odd) .warning::before {
  content: url('../imgs/misc/warning.gif');

  position: absolute;
  bottom: 68px;
  right: -215px;

  transform: scale(0.11) rotate(8deg);
  
  
  animation: warning 1.6s linear infinite alternate;
  transition: transform 0.27s ease-in;
}

.item-container:nth-of-type(odd) .item-description-card:hover .warning::before {
  transform: scale(0.15) rotate(8deg);
}

.item-container:nth-of-type(even) .warning::before {
  content: url('../imgs/misc/warning.gif');

  position: absolute;
  bottom: 68px;
  right: 68px;

  transform: scale(0.11) rotate(-8deg);
  
  animation: warning 1.6s linear infinite alternate;
  transition: transform 0.27s ease-in;
}

.item-container:nth-of-type(even) .item-description-card:hover .warning::before {
  transform: scale(0.15) rotate(-8deg);
}

.item-container:nth-of-type(4) .warning-right::before {
  bottom: -11px;
  right: -180px;

  transform: scale(0.11) rotate(8deg);
}

.item-container:nth-of-type(4) .item-description-card:hover .warning-right::before {
  transform: scale(0.15) rotate(8deg) ;
}

.item-container:nth-of-type(5) .warning-left::before {
  bottom: -11px;
  right: 38px;

  transform: scale(0.11) rotate(-8deg);
}

.item-container:nth-of-type(5) .item-description-card:hover .warning-left::before {
  transform: scale(0.15) rotate(-8deg);
}

.item-des-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  font-weight: bold;
  list-style-type: '\1F4AD';
  margin: 0 0 13px 0px;
  padding-top: 25px;
  width: 90%;
  
  transition: all 0.3s ease-in-out;
}

.item-des-li {
  color: #fffce8;
  font-family: "GoshaSansRegular";
  font-size: 1.7rem;
  font-weight: 100;
  text-indent: 3px;
  text-shadow: 0px 0 10px gray;
}

/* TODO: #send_to_moon {
  position: relative;
} */

.size-and-add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* height: 77px; */
}

.size-and-add select,
.size-and-add button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 75px;
  width: 100px;

  background: linear-gradient(to bottom, #fffce8, white, silver);
  border: 2px solid var(--neon-red);
  border-radius: 33px;
  box-shadow: 0 0 11px var(--neon-red);
  color: black;
  padding: 20px;
}

.size-and-add select {
  font-family: 'Pixeboy';
  font-size: 3.3rem;
  padding: 0 0 0px 0;
  text-indent: 30px;
}

.size-and-add button {
  font-family: 'GoshaSansRegular';
  font-size: 1.8rem;
}

/* TODO: .size-and-add */

/* scentBox LEFT pressStart */
.scent-box {
  position: absolute;
  top: 27px;
  left: -145px; 
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
  box-shadow: inset -30px -17px 3px silver, -3px 3px 10px 2px var(--neon-red);
  border-radius: 100px;
  border: 1px ridge silver;
  padding: 30px 3px 0 7px;
  text-align: center;
  transform: rotate(-18deg) scale(0.88);
  transition: all 0.7s ease-out;
  width: 230px;
}

.scent-box:hover {
  top: 15px;
  left: -155px;
  
  transform: rotate(0) scale(1);
}   

.twk-scentbox {
  position: absolute;
  bottom: 117px;
  right: 45px;
  z-index: 2;

  background: white;
  border-radius: 100px;
  border-top: 1px ridge silver;
  box-shadow: inset -10px 7px 2px silver, -1px -3px 7px var(--neon-red);
  color: #67e0f8;
  font-family: "GoshaSansRegular";
  font-size: 2.2rem;
  font-weight: bold;
  padding-top: 18px;
  text-shadow: 1px 2px 2.5px red;

  transform: rotate(-15deg);
  transition: all 0.1s ease-in-out;
}

.twk-scentbox:hover {
  bottom: 118px;
  right: 38px;

  border-bottom: 5.8px dotted #67e0f8;
  box-shadow: inset -6px 3px 3px silver, 0 -3px 30px chartreuse;
  font-size: 2.3rem;
  text-shadow: 1px 2px 3.3px red;
  
  transform: rotate(-20deg);
}

.sb-essenced-scentbox {
  position: absolute;
  bottom: 107px;
  left: 45px;
  z-index: 0;

  background: white;
  border-radius: 100px;
  border-top: 1px ridge silver;
  box-shadow: inset -13px 7px 3px silver, 0 -3px 5px var(--neon-red);
  color: #67e0f8;
  font-family: 'GoshaSansRegular';
  font-size: 1.9rem;
  font-weight: bold;
  padding: 30px 0 3px 88px;
  text-shadow: 1px 1px 2px red;
  
  transform: rotate(8deg);
  transition: all 0.1s ease-in;
}

.sb-essenced-scentbox:hover {
  bottom: 105px;
  left: 47px;

  font-size: 1.8rem;
  border-bottom: 5.8px dotted #67e0f8;
  box-shadow: inset -11px 2px 3px silver, 0 3px 30px chartreuse;
  margin-top: -50px;
  text-shadow: 2px 1px 2px red;

  transform: rotate(11deg);
}

.scent-des:hover {
  color: rgb(188, 189, 190);
  font-family: "PixeBoy";
  font-size: 1.8rem;
  line-height: 0.8; 
  /* text-shadow: 0 0 3px var(--neon-red); */

  transition: all 0.5 ease-in;
}

.scent-des > p {
  color: rgb(77, 77, 77);
  font-family: "PixeBoy";
  font-size: 1.8rem;
  line-height: 0.8; 

  transition: all 0.5 ease-in;
  margin: 0;
}

.scent-des > p:hover {
  color: black;
}

.vanilla-select {
  background: linear-gradient(to bottom, #fffce8, white, skyblue);
  border: 1px ridge silver;
  border-radius: 20px;
  box-shadow: 0px 3px 5px red;
  font-family: "GoshaSansRegular";
  font-size: 1.5rem;
  /* height: 22px; */
  margin: 8px 0 20px 0;
  padding: 0 50px;
  text-align: center;
  width: max-content;

  transition: all 0.5s ease-in-out;
}

.vanilla-select:hover {
  box-shadow: 0px 3px 8px red;

  transform: scale(1.1);
}

.scent-box:hover  .vanilla-select {
  padding: 0 11px;
}
/* scentBox LEFT gameOver */

/* scentBox RIGHT pressStart */
#sb-right { 
  left: 211px; 

  transform: rotate(18deg) scale(0.88);
}

#sb-right:hover { 
  transform: rotate(0deg) scale(0.88);
}
/* scentBox RIGHT gameOver */

/* rocketSh*t LEFT pressStart */
.rocket-left::before {
  position: absolute;
  top: 55px;
  right: 295px;
  
  content: '🚀';
  filter: drop-shadow(0 0 3px var(--neon-red));
  
  transform: scale(2.8) rotate(-55deg);
  transition: top, right, transform, 3.3s ease-in;

  z-index: 0;
}

.scent-box:hover ~ .rocket-left::before {
  top: -1700px;
  right: 700px;

  transform: scale(4) rotate(-50deg);
}

.rocket-smoke-left::before {
  position: absolute;
  right: 88px;
  bottom: 211px;
  
  content: url(../imgs/misc/rocketSmoke.gif);
  filter: drop-shadow(0 0 3px #fffce8);
  
  opacity: 0;
  
  transform: scale(0.1) rotate(-94deg);
  transform-origin: bottom;
  transition: all 0.92s ease-in;

  z-index: 1;
}

.scent-box:hover ~ .rocket-smoke-left::before {
  right: 77px;
  bottom: 388px;
  
  opacity: 0.5;

  transform: scale(0.55) rotate(-95deg);
}
/* rocketSh*t LEFT gameOver */

/* rocketSh*t RIGHT pressStart */
.rocket-right::before {
  position: absolute;
  top: 55px;
  right: -21px;
  
  content: '🚀';
  filter: drop-shadow(0 0 3px var(--neon-red));
  
  transform: scale(2.8) rotate(-40deg);
  transition: top, right, transform, 3.3s ease-in;

  z-index: 0;
}

.scent-box:hover ~ .rocket-right::before {
  top: -1700px;
  right: -421px;

  transform: scale(4) rotate(-35deg);
}

.rocket-smoke-right::before {
  position: absolute;
  right: -227px;
  bottom: 211px;
  
  content: url(../imgs/misc/rocketSmoke.gif);
  filter: drop-shadow(0 0 3px #fffce8);
  
  opacity: 0;
  
  transform: scale(0.1) rotate(-74deg);
  transform-origin: bottom;
  transition: all 0.92s ease-in;

  z-index: 1;
}

.scent-box:hover ~ .rocket-smoke-right::before {
  right: -323px;
  bottom: 377px;
  
  opacity: 0.5;

  transform: scale(0.55) rotate(-75deg);
}
/* rocketSh*t RIGHT gameOver */

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ |FOOTER|                                                                │
  └─────────────────────────────────────────────────────────────────────────┘
 */

footer {
  position: sticky;
  bottom: 0;
  left: auto;
  right: auto;
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content:flex-end;

  height: 98.195px;

  z-index: 2;
}

footer:hover {
  color: var(--neon-red);
}

#footer-center {
  display: flex;
  flex-direction: column;
  gap: 3px;
  
  align-items: center;
  justify-content: center;
}

#footer-center:active  {
  margin-bottom: 25px;

  transform: rotate(180deg);
}

#footer-center > p {
  color: #fffce8;
  transition: all 0.3s ease-in;

}

#footer-center > p:hover {
  color: var(--neon-green);
  /* margin-bottom: 15px; */

  transform: scale(1.1);
}

footer p {
  font-size: 1.5rem;
  margin: 0 0 2px 0;
}

#cyclone-container {
  display: flex;
  flex-direction: column;
  gap: 1px;

  align-items: center;
  justify-content: center;

  filter: drop-shadow(0 0px 3px #fffce8);
  opacity: 0.38;
  padding-bottom: 13px;

  transition: all 0.8s ease-in;
}

#cyclone-container:hover {
  filter: drop-shadow(0 3px 10px #fffce8);
  opacity: 0.88;
  margin: 15px 0 10px 0;

  transform: scale(1.3) rotate(-1080deg);
}

#cyclone-container > p {
  color: var(--neon-red);
  text-shadow: 0 0 3px black;
  height: 0;
  opacity: 0;

} 

#cyclone-container:hover > p {
  color: var(--neon-green);
  opacity: 1;
  height: initial;
}

#cyclone-container > p {
  font-size: 1.3rem;

  transition: all 1.3s ease-in-out;
}

#cyclone-container > img {
  height: 22px;
}

#cyclone-container:hover > img {
  filter: drop-shadow(0 0px 5px #fffce8);
} 

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ tabletBreakpoint                                                        │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@media only screen and (max-width: 768px) {

  @keyframes game-float {
    from {
      opacity: 0.8;
    }

    25% {
      opacity: 0.55;
      transform: scale(0.9);
    }

    50% {
      opacity: 1;
      transform: scale(1);
    }

    75% {
      opacity: 0.55;
      transform: scale(0.9);
    }

    to {
      opacity: 0.8;
    }
  }

  header {
    z-index: 2;
  }

  #header-logo {
    height: 7rem;
    
    animation: rgb-pulse 2.2s linear infinite alternate, game-float 5s linear infinite alternate;
  } 

  nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  #menu-btn.open ~ nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    z-index: 1;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: rgba(49, 32, 43, 0.888);
    min-height: 100vh;
    min-width: 100vw;

    opacity: 1;
    overflow: visible;   
    
    transition: none;
  }

  #menu-btn.open ~ nav ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 55px;
    
    /* background: linear-gradient(to bottom, black, var(--neon-red)); */
    background: url('../imgs/logos/c.gif'), linear-gradient(to bottom, black, var(--neon-red));
    background-position: center;
    
    border: 2px solid var(--neon-red);
    border-radius: 50%;
    box-shadow: 0 0 55px var(--neon-red), inset 0 0 55px var(--neon-pink);
    height: 475px;
    width: 475px;
    
    transform: rotate(-360deg) scale(1);
    transition: transform 1.5s ease-in-out;


    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }
  
  #menu-btn.open ~ nav ul > li:nth-of-type(even) {
    transform: rotate(365deg) scale(1.5);
    transition: all 1.8s ease-in-out;
  }
  
  #menu-btn.open ~ nav ul > li:nth-of-type(odd) {
    transform: rotate(-365deg) scale(1.5);
    transition: all 1.8s ease-in-out;
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(even):hover {
    transform: rotate(360deg) scale(2.2);
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(odd):hover {
    transform: rotate(-360deg) scale(2.2);
  }

  .nav-link {
    margin: 0;
  }
  
  .item-container:nth-of-type(odd), 
  .item-container:nth-of-type(even) {
    flex-direction: column;
    height: max-content;
    margin: 0 0 150px 0;
  }

  .item-container:nth-of-type(odd):hover,
  .item-container:nth-of-type(even):hover {
    margin: 0 0 375px 0;
  }

  /* stopsRotation */
  .item-container:hover:nth-of-type(odd) > .item > img,
  .item-container:hover:nth-of-type(even) > .item > img {
    transform: rotate(0) scale(1); 
  }

  .item-description-card {
    transform: scale(0.05);
  }

  /* beanieCardTopPositioning pressStart */
  .item-container:nth-of-type(1):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(2):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(3):hover > .item-description > .item-description-card {
    top: 300px;
  }
  /* beanieCardTopPositioning pressStart */
  
  /* hoodieCardTopPositioning pressStart */
  .item-container:nth-of-type(4):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(5):hover > .item-description > .item-description-card {
    top: 458px;
  }
  /* hoodieCardTopPositioning gameOver */

  /* sockCardTopPositioning pressStart */
  .item-container:nth-of-type(6):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(7):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(8):hover > .item-description > .item-description-card {
    top: 388px;
  }
  /* sockCardTopPositioning gameOver */
  
  /* keychainCardTopPositioning pressStart */
  .item-container:nth-of-type(9):hover > .item-description > .item-description-card {
    top: 300px;
  }
  /* keychainCardTopPositioning gameOver */

  /* shovelCardTopPositioning pressStart */
  .item-container:nth-of-type(10):hover > .item-description > .item-description-card {
    /* top: ?; */
  }
  /* shovelCardTopPositioning gameOver */

  .item {
    display: flex;
    align-items: center;

    height: max-content;
    width: max-content;

    transition: all 0.8s ease-out;
  }
}

/* 
  ┌─────────────────────────────────────────────────────────────────────────┐
  │ mobileBreakpoint                                                        │
  └─────────────────────────────────────────────────────────────────────────┘
 */

@media only screen and (max-width: 480px) {

    @keyframes game-float {
    from {
      opacity: 0.8;
    }

    25% {
      opacity: 0.55;
      transform: scale(0.55);
    }

    50% {
      opacity: 1;
      transform: scale(0.8);
    }

    75% {
      opacity: 0.55;
      transform: scale(0.55);
    }

    to {
      opacity: 0.8;
    }
  }

  #menu-btn.open ~ nav ul {
    height: 288px;
    width: 288px;
  }

  header {
    justify-content: center;
  }

  #menu-btn.open ~ nav ul {
    gap: 28px;
    
    background-size: 300px 300px;
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(even) {
    transform: rotate(365deg) scale(1.15);
    transition: all 1.8s ease-in-out;
  }
  
  #menu-btn.open ~ nav ul > li:nth-of-type(odd) {
    transform: rotate(-365deg) scale(1.15);
    transition: all 1.8s ease-in-out;
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(even):hover {
    transform: rotate(360deg) scale(1.3);
  }

  #menu-btn.open ~ nav ul > li:nth-of-type(odd):hover {
    transform: rotate(-360deg) scale(1.3);
  }

  /* beanieCardTopPositioning pressStart */
  .item-container:nth-of-type(1):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(2):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(3):hover > .item-description > .item-description-card {
    top: 310px;
  }
  /* beanieCardTopPositioning pressStart */
  
  /* hoodieCardTopPositioning pressStart */
  .item-container:nth-of-type(4):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(5):hover > .item-description > .item-description-card {
    top: 468px;
  }
  /* hoodieCardTopPositioning gameOver */

  /* sockCardTopPositioning pressStart */
  .item-container:nth-of-type(6):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(7):hover > .item-description > .item-description-card,
  .item-container:nth-of-type(8):hover > .item-description > .item-description-card {
    top: 398px;
  }
  /* sockCardTopPositioning gameOver */
  
  /* keychainCardTopPositioning pressStart */
  .item-container:nth-of-type(9):hover > .item-description > .item-description-card {
    top: 310px;
  }
  /* keychainCardTopPositioning gameOver */

  /* shovelCardTopPositioning pressStart */
  .item-container:nth-of-type(10):hover > .item-description > .item-description-card {
    /* top: ?; */
  }
  /* shovelCardTopPositioning gameOver */
}